@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemibold";
    src: url("../fonts/OpenSansSemibold/OpenSansSemibold.eot");
    src: url("../fonts/OpenSansSemibold/OpenSansSemibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemibold/OpenSansSemibold.woff") format("woff"),
    url("../fonts/OpenSansSemibold/OpenSansSemibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    min-width: 1005px;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
	font-family: "OpenSansLight";
}

a {
	text-decoration: none;
	cursor: pointer;
}

.center{
    display: table-cell;
    vertical-align: middle;
}

main {
    text-align: center;
    width: 100%;
    flex: 1;
}

main .article {
	width: 100%;
	margin: 0 auto;
}

main .article hr {
	width: 56px;
	margin: 20px auto;
}

main .article .vr {
	display: inline-block;
	border: 1px;
	height: 100%;
	border-style: inset;
	border-width: 1px;
	margin: 0;
	padding: 0;
}

main .article h1 {
	font-family: "OpenSansLight";
	font-size: 24px;
	font-weight: normal;
	padding-top: 80px;
}

main .article p {
	font-family: "OpenSansLight";
	font-size: 14px;
}

main .article .mapOverlay {
   background: transparent; 
   position: relative; 
   width: 100%;
   height: 460px; /* your iframe height */
   top: 460px;  /* your iframe height */
   margin-top: -460px;  /* your iframe height */
}

main .article .map {
	border:0;
	height: 460px;
	width: 100%;
}



.feedbackForm {
	margin: 50px auto;
}

.feedbackForm ul {
    list-style: none;
    display: inline;
}
.feedbackForm ul li{
    display: inline;
    margin-left: 15px;

}
.feedbackForm ul input{
    width: 170px;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;
    padding-left: 20px;
}
.feedbackForm button {
    width: 230px;
    height: 40px;
    border: 2px solid rgb(72, 74, 80);
    border-radius: 6px;
}
.feedbackForm button:hover {
    background-color: rgb(72, 74, 80);
    cursor: pointer;
    color: rgb(218, 218, 218);
}
.feedbackForm ul input:hover {
    border: 1px solid rgb(238, 49, 36);
}