@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
	url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSansLight/OpenSansLight.eot");
	src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
	url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansSemiBold";
	src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
	src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
	url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansItalic";
	src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
	src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
	url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	min-width: 1005px;
	display: flex;
	flex-direction: column;
	font-family: "OpenSansLight";
}

a {
	text-decoration: none;
	cursor: pointer;
}

.center {
	display: table-cell;
	vertical-align: middle;
}

main {
	text-align: center;
	width: 100%;
	flex: 1;
}

main hr {
	height: 1px;
	width: 1000px;
	margin: 50px auto;
	border: none;
	background-color: #c2c2c2;
}

main .article {
	width: 100%;
	margin: 0 auto;
	/*
	"background+child margin" problem solved
http://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element
	*/
	overflow: hidden;
}

main .article.artLight, main.artLight {
	background-color: #fdfdfd;
}
main .article.artGray, main.artGray {
	background-color: #f6f6f6;
}
main .article.artDark, main.artDark {
	background-color: #ebebeb;
}

main .article hr {
	height: 1px;
	width: 56px;
	margin: 20px auto;
	border: none;
	background-color: #464646;
}

main .article .vr {
	display: inline-block;
	border: 1px;
	height: 100%;
	border-style: inset;
	border-width: 1px;
	margin: 0;
	padding: 0;
}

main .article h1 {
	font-family: "OpenSansLight";
	font-size: 24px;
	font-weight: normal;
	margin-top: 70px;
}

main .article p {
	font-family: "OpenSansLight";
	font-size: 14px;
}

main .article .mapOverlay {
	background: transparent; 
	position: relative; 
	width: 100%;
	height: 460px;		/* your iframe height */
	top: 460px;			/* your iframe height */
	margin-top: -460px;	/* your iframe height */
}

main .article .map {
	border:0;
	height: 460px;
	width: 100%;
	margin-bottom: -5px;
}



/****************************************/

.feedbackForm {
	margin: 50px auto;
}

.feedbackForm ul {
	list-style: none;
	display: inline;
}
.feedbackForm ul li{
	display: inline;
	margin-left: 15px;

}
.feedbackForm ul input{
	width: 170px;
	height: 40px;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 6px;
	padding: 0 20px;
}
.feedbackForm button {
	width: 230px;
	height: 40px;
	border: 2px solid rgb(72, 74, 80);
	border-radius: 6px;
}
.feedbackForm button:hover {
	background-color: rgb(72, 74, 80);
	cursor: pointer;
	color: rgb(218, 218, 218);
}
.feedbackForm ul input:hover {
	border: 1px solid rgb(238, 49, 36);
}

/****************************************/

.contactBlock {
	position: relative;
	margin: 60px auto;
}
.contactBlock ul{
	margin-left:50px;
}
.contactBlock li{
	position: static;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 50px;
	text-align: left;
	font-size: 14px;
	height: 100%;
}
.contactBlock li:before{
	position: absolute;
	top: 0; bottom: 0;
	content: " ";
	display: block;
	width: 50px;
	height: 100%;
	margin-left: -50px;
}
.contactBlock li.contactPhone:before{
	background: transparent url(../images/cont_phone.png) center no-repeat;
}
.contactBlock li.contactMail:before{
	background: transparent url(../images/cont_mail.png) center no-repeat;
}
.contactBlock li.contactWeb:before{
	background: transparent url(../images/cont_web.png) center no-repeat;
}

/****************************************/
.pagesNav {
	margin: 60px auto;
}

.pagesNav a {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-family: "OpenSansSemiBold";
	font-size: 13px;
	color: #aab2bd;
	border-radius: 100px;
	padding-right: 1px;
	margin: 0 5px;
	vertical-align: middle;
}

.pagesNav a.pageNavBack, .pagesNav a.pageNavForv {
	width: 50px;
	height: 25px;
	line-height: 25px;
	color: #ffffff;
	background-color: #7b818c;
}

.pagesNav a.pageNavCurrent {
	color: #ffffff;
	background-color: #9f9f9f;
}

.pagesNav a:hover {
	background-color: 
}
/****************************************/
.openBlock {
	background-color: #fefefe;
}
.openBlock .openBlockContent {
	transition-duration: 1s;
	height: 0px;
	overflow: hidden;
}
.openBlock .openBlockButton {
	height: 20px;
	margin: 0px auto;
	border: 1px solid rgb(238, 238, 238);

	background: url(../images/BlockButtonOpen.gif) center no-repeat;
	background-color: rgb(238, 238, 238);
	cursor: pointer;
}

.openBlock.opened .openBlockButton {
	transform: scaleY(-1);
}
.openBlock.opened .openBlockContent {
	height: auto !important;
}

.openBlock .openBlockButton img {
	margin-bottom: 4px;
	width: 10px;
	height: 5px;
}
.openBlock .openBlockButton:hover {
	border-color: rgb(238, 238, 238);
	background-color: rgb(238, 49, 36);
}