.newsFirstBlock {
	background-color: rgb(232, 232, 232);
}
.newsFirstBlockSlider {

}
.newsFirstBlockText {
	position: absolute;
	top: 100px;
	left: 900px;
	width: 400px;
}
.newsBlock {
	width: 835px;
	margin: 0 auto;
}
.newsBlock img {
	margin-bottom: 50px;
}

.openBlock .openBlockContent {
	height: 34px !important;
}
.openBlock .openBlockButton {
	margin: 50px auto 0px auto !important;
}




