body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    width: 100%;
    min-width: 1024px;
    flex-direction: column;
    text-align: center;
}

header, footer {
    height: 70px;
    background-color: black;
    flex: none;
}

header {
}
footer {
}

main {
    width: 100%;
    flex: 1;
}


.headerLogo {
    background-color: white;
}
.footerLogo {
    background-color: black;
}

.mainLogo {
    height: 70px;
    width: 410px;
    float: left;
}


.headerNavigation {

}

.headerNavigation ul{

}
.headerNavigation li {
    list-style: none;
    display: inline;
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    line-height: 1.167;
    margin-left: 14px;
}

.socialMenu {
    display: inline-block;
}

.socialMenu li {
    list-style: none;
    display: inline;
    background-color: white;
    width: 10px;
    height: 10px;
}