* {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    min-width: 1024px;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
}

header, footer {
    position: relative;
    background-color: #222;
    flex: none;
    display: block;
    width: 100%;
}

@media (max-width: 1200px) {
    header {
        height: 50px;
    }

    footer {
        height: 58px;
    }
}

@media (min-width: 1200px) {
    header {
        height: 80px;
    }

    footer {
        height: 88px;
    }

    .headerLogo {
        background-image: url(images/logo_h_bl.png);
    }

    .headerLogo:hover {
        background-image: url(images/logo_h.png);
    }

    .footerLogo {
        background-image: url(images/logo_f.png);
    }

    .headerLogo, .footerLogo {
        width: 470px;
    }
}

/*
background: #4e729a url(/images/hatf.gif?1) -4px 0px;
background-image: url(https://vk.com/images/hatf.gif?1);
background-position-x: -4px;
background-position-y: 0px;
background-size: initial;

background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: rgb(78, 114, 154);*/

main {
    text-align: center;
    width: 100%;
    flex: 1;
}


.headerLogo {
    background-color: #fcfcfc;
}

.footerLogo {
}

.headerLogo, .footerLogo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}


.headerNavigation {

}

.headerNavigation ul{

}
.headerNavigation li {
    list-style: none;
    display: inline;
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    line-height: 1.167;
    margin-left: 14px;
}

.center{
    display: table-cell;
    vertical-align: middle;
}


.language {
    position: absolute;
    display: inline-table;
    height: 100%;
    float: right;
    right: 200px;
}
.language .twitter {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 0 12px;
    background: transparent url(images/soc_twe.png) center no-repeat;
}



.socialMenu {
    position: absolute;
    display: inline-table;
    height: 100%;
    float: right;
    right: 70px;
}
.socialMenu a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 0 12px;
}

.socialMenu .twitter {
    background: transparent url(images/soc_twe.png) center no-repeat;
}
.socialMenu .facebook {
    background: transparent url(images/soc_fb.png) center no-repeat;
}
.socialMenu .vkontakte {
    background: transparent url(images/soc_vk.png) center no-repeat;
}

/*search container*/

.wrapper {
    text-align: left;
    position: absolute;
    display: inline-table;
    height: 100%;
    float: right;
    right: 250px;
    width: 200px;
}
.icon-search-container {
  display: inline-block;
  border: 2px solid #d9d9d9;
  border-radius: 35px;
  height: 35px;
  width: 35px;
  position: relative;
  transition: width 0.4s ease-out;
  backface-visibility: hidden;
}
.icon-search-container.active {
  width: 205px;
}
.icon-search-container.active .fa-times-circle {
  opacity: 1;
}
.icon-search-container.active .search-input {
  width: 140px;
}
.icon-search-container .fa-search {
  color: #2980b9;
  font-size: 30px;
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer;
}

.fa-search:before {
content: "\f002";
}

.fa-times-circle:before {
content: "\f057";
}

.icon-search-container .fa-times-circle {
  opacity: 0;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 8px;
  transition: opacity 0.4s ease-out;
  cursor: pointer;
}
.icon-search-container .search-input {
  position: absolute;
  cursor: default;
  left: 25px;
  top: 0px;
  width: 0;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0);
  transition: width 0.4s ease-out;
}
