body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
header, footer {
    width: 1024px;
    height: 52px;
}
header {
    margin: 0 auto -52px auto;
}
.mainMenu {
    width: 844px;
    height: 52px;
    background-color: rgb(32, 32, 32);
    z-index: 220;
}
.mainLogo {
    background-color: rgb(252, 252, 252);
    width: 212px;
    height: 52px;
    z-index: 221;
}
.headerMenu {
    position: absolute;
    margin: 0 auto -52px 181px;
}
.headerLogo {
    position: absolute;
    margin: 0 auto;
 }
.headerNavigation {

}
.headerNavigation ul{
    padding-right: 226px;

}
.headerNavigation li {
    list-style: none;
    display: inline;
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    line-height: 1.167;
    margin-left: 14px;
}
.wrapper {
    box-sizing: border-box;
    text-align: center;
    margin: 100px auto;
}
.icon-search-container {
    display: inline-block;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    transition: width 0.4s ease-out;
    backface-visibility: hidden;

&.active {
     width: 285px;

.fa-times-circle {
    opacity: 1;
}
.search-input {
    width: 200px;
}
}

.fa-search {
    color: #2980b9;
    font-size: 30px;
    position: absolute;
    top: 7px;
    left: 8px;
    cursor: pointer;
}
.fa-times-circle {
    opacity: 0;
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 8px;
    transition: opacity 0.4s ease-out;
    cursor: pointer;
}

.search-input {
    position: absolute;
    cursor: default;
    left: 45px;
    top: 6px;
    width: 0;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.4s ease-out;
}

}
.headerFlag {

}
.headerSotial {

}

main {
    min-height: 100vh;
    width: 1024px;
    flex: 1;
    border: 1px solid black;
    margin: 0 auto;
}
footer {
    margin: -52px auto 0 auto;
}
.footerMenu {
    position: absolute;
    margin: 0 auto -52px 181px;
}
.footerLogo {
    position: absolute;
    margin: 0 auto;
}
.footerSotial {

}

